* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
}

.JHFcorpo {
    background-color: #0A1B2D;
    color: white;   
}
.JHFpalavrasSecretas {
    display: none;
    font-family: arial;
}
.JHFcabecalho {
    width: 100%;
    height: 145px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #081728;
    border-bottom: 2px solid #05111E;
}

.JHFareaTopo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.JHFamongTopo {
    height: 130px;
    width: auto;
    margin-bottom: 7px;
    align-self: flex-end;
}

.JHFinformacoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.JHFcontador {
    padding: 8px 16px;
    background-color: #0A1B2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #05111E;
    border-radius: 9px;
}

.JHFtextoTentativas {
    color: #9FB5C9;
    font-size: 13px;
    font-weight: bold;
    font-family: arial;
}

.JHFnumeroTentativas {
    font-size: 28px;
    font-weight: bold;
}

.JHFtentativaAtual {
    color: #238E4B;
}

.JHFtentativaTotal {
    color: #536A80;
}

.JHFinstrucao {
    color: #9FB5C9;
    font-size: 11px;
}

.JHFbotaoReiniciar {
    width: 38px;
    height: 38px;
    position: absolute;
    right: 10px;
    top: 9px;
    border: none;
    background-image: url("./assets/return.png");
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.JHFbotaoReiniciar:hover {
    background-image: url("./assets/return-hover.png");
}
.JHFprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A1B2D;
    padding-top: 12px;
    height: 588px;
    width: 100%;
    weight: 100%;
}

.JHFjogo {
    width: 380px;
    padding: 9px 10px 12px;
    border: 3px solid #03101C;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #081728;
}

.JHFcampoPalavra {
    width: 100%;
    height: 31px;
    background-color: #06111F;
    border: 2px solid #2B4056;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
}

.JHFcampoPalavra::placeholder {
    color: #718599;
}

.JHFcampoPalavra:focus {
    border-color: #536C85;
}

.JHFbotaoEnviar {
    width: 355px;
    height: 27px;
    margin-top: 5px;
    background-color: #2B4056;
    color: #071422;
    border: none;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
}

.JHFbotaoEnviar:hover {
    background-color: #405B76;
}

.JHFmensagem {
    height: 14px;
    margin-top: 2px;
    color: #9FB5C9;
    font-size: 10px;
    text-align: center;
}
.JHFtabuleiro {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 380px;
    height: auto;
    margin-top: 8px;
    padding: 5px;
    border: 3px solid #03101C;
    border-radius: 5px;
    background-color: #06111F;
    text-align: center;
}


.JHFlinha {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 340px;
    height: 60px;
    text-align: center;
}

.JHFquadrado {
    height: 60px;
    width: 60px;
    background-color: #000612;
    border: 3px solid #2B4056;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 19px;
    font-weight: bold;
}

.JHFletraErrada {
    background-color: #06111F;
    border-color: #2B4056;
    color: white;
}

.JHFletraLugarErrado {
    background-color: #CB9D21;
    border-color: #CB9D21;
    color: white;
}

.JHFletraCerta {
    background-color: #238C49;
    border-color: #238C49;
    color: white;
}

.JHFtelaResultado {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 67;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.JHFconteudoResultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.JHFtelaVitoria {
    background-image: url("./assets/background-victory.png");
}

.JHFtelaVitoria .JHFtituloResultado {
    color: #00b5d1;
}

.JHFtelaDerrota {
    background-image: url("./assets/background-defeat.png");
}

.JHFtelaDerrota .JHFtituloResultado {
    color: #DE0000;
}

.JHFtituloResultado {
    margin-top: 70px;
    font-size: 62px;
    font-weight: bold;
    text-align: center;
}

.JHFamongResultado {
    width: 160px;
    height: auto;
    margin-top: 14px;
}

.JHFbotaoFechar {
    width: 38px;
    height: 38px;
    background-color: transparent;
    background-image: url("./assets/close.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 12px;
    top: 12px;
    border: none;   
}

.JHFbotaoFechar:hover {
    background-image: url("./assets/close-hover.png");
}

.JHFescondido {
    display: none;
}

@media (max-width: 480px) {

.JHFcabecalho {
    height: 130px;
}

.JHFprincipal {
    height: 100%;
    padding-top: 14px;
}

.JHFareaTopo {
    gap: 6px;
}

.JHFamongTopo {
    width: 89px;
    height: 120px;
    margin-bottom: 9px;
}

.JHFcontador {
    min-width: 115px;
    padding: 6px 12px;
}

.JHFtextoTentativas {
    font-size: 11px;
}

.JHFnumeroTentativas {
    font-size: 24px;
}

.JHFinstrucao {
    font-size: 9px;
    max-width: 180px;
    text-align: center;
}

.JHFbotaoReiniciar {
    width: 31px;
    height: 31px;
    top: 7px;
    right: 7px;
}

.JHFjogo {
    width: 270px;
    padding: 8px 9px 12px;
}

.JHFcampoPalavra {
    height: 28px;
    font-size: 12px;
}

.JHFbotaoEnviar {
    height: 22px;
    font-size: 10px;
}

.JHFlinha {
    gap: 4px;
}

.JHFquadrado {
    width: 35px;
    height: 35px;
    font-size: 17px;
}

.JHFtituloResultado {
    margin-top: 115px;
    font-size: 46px;
}

.JHFamongResultado {
    width: 120px;
    margin-top: 18px;
}

.JHFbotaoFechar {
    width: 31px;
    height: 31px;
    right: 8px;
    top: 8px;
}

.JHFtelaResultado {
    background-position: center;
    background-size: cover;
}

}
P{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}